:root{
    // Colors
    --clr-cyan: #66E2DC;
    --clr-red: #FA7463;
    --clr-orange: #FFB964;
    --clr-white: #FCFAF9;
    --clr-black: #191826;

    // Typography
    --ff-heading-one: 700 88px/1.2 "IBM Plex Sans", sans-serif;
    --ff-heading-two: 700 40px/1.3 "IBM Plex Sans", sans-serif;
    --ff-body-one: 400 20px/1.7 "IBM Plex Sans", sans-serif;
    --ff-body-two: 400 16px/1.6 "IBM Plex Sans", sans-serif;
}

*,
*:before,
*:after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    overflow-x:hidden;
}

.logo{
    cursor:pointer;
    padding:2em 1.5em;
}

.blur-img{
    position:absolute;
    background-image: url("../images/bg-main-mobile.png");
    transform:translate(3em, -12em);
    width:100%;
    height:100vh;
    top:0;
    right:0;
    z-index:-2;
}


.pattern-tablet{
    position:absolute;
    z-index: -1;
    display:none;
}

section.intro{
    padding-inline:1.5em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--clr-black);

    h1{
        font: var(--ff-heading-one);
        font-size:2.5rem;
        padding-top:1em;
    }

    p{
        font: var(--ff-body-one);
        font-size:1rem;
        line-height:1.6;
        padding-block: 1em;
    }

    padding-bottom: 3em;
}

section.product{
    position: relative;
    background:var(--clr-black);
    margin-top:8em;
    width:100%;
    border-radius:1em;

    display:flex;
    flex-direction: column;
    align-items: center;

    .pattern-mobile{
        width:80%;
    }

    .phone{
        position:absolute;
        width:60%;
        top:-7em;
    }

    .pricing{
        width:100%;
        background:var(--clr-red);
        border-radius:1em;
        margin-top:-2.5em;
        display:flex;
        flex-direction: column;
        justify-content:center;
        color: var(--clr-white);
        padding:2rem 1.5rem;    

        h2{
            font:var(--ff-heading-two);
            font-size:2rem;
        }

        p{
            font:var(--ff-body-two);
            font-size:1.1rem;
            line-height:1.7rem;
            padding-block:1em;
        }

        .price{
            display:inline;
            vertical-align: middle;

            span{
                font:var(--ff-heading-two);
                font-size:4rem;
                vertical-align: middle;
            }
        }

        button{
            padding:1em;
            font:var(--ff-heading-two);
            font-size:1.1rem;
            border-radius:1em;
            margin-block:.5em;
            cursor:pointer;
            transition: background .3s ;
            border:none;
        }

        .ios-download{
            color:var(--clr-white);
            background: var(--clr-black);

            &:hover{
                background:var(--clr-cyan);
            }
        }

        .android-download{
            color:var(--clr-black);
            background:var(--clr-white);

            &:hover{
                background: var(--clr-orange);
            }
        }
    }
}

section.footer{
    display:flex;
    flex-direction: column;
    padding: 0 1.5em 4em 1.5em;

    p{
        font:var(--ff-body-two);
    }

    strong{
        cursor:pointer;
    }

    .social-links{
        margin-top:4em;
        display:flex;

        svg{
            width:2.3em;
            padding-inline:.5em;
            cursor:pointer;
            
            path{
                transition: fill .3s ;
            }

            &:hover > path{
                fill:var(--clr-orange);
            }
        }
    }
}

// Tablet
@media only screen and (min-width:768px){
    .blur-img{
        background-image:url("../images/bg-main-tablet.png");
        width:130%;
        transform:translate(0em,-15em);
        background-size:(100% auto); 
        opacity:0;
        animation: fadeIn 1.5s ease-in-out forwards;
        animation-delay:.7s;
    }

    .pattern-tablet{
        display:block;
        top:-2em;
        right:-2em;
        width:35%;
        opacity:0;
        animation: dropDown 1s ease-out forwards;
        z-index:1;
    }
    header{
        .logo{
            opacity:0;
            animation: dropDown 1.2s ease-in-out forwards;
        }
    }

    section.intro{
        width:68%;
        opacity:0;
        animation: dropDown 1s ease-out forwards;

        h1{
            font-size:4rem;
            line-height:1;
        }

        p{
            font-size: 1.1rem;
            line-height:1.75;
        }

        padding-bottom: 5em;
    }

    section.product{
        width:93%;
        margin-inline:auto;
        padding-bottom:11.5em;

        opacity:0;
        animation: fadeIn 1.5s ease-in-out forwards;
        animation-delay:.7s;

        .pattern-mobile{
            width:40%;
            margin-top:-1.7em;
        }

        .phone{
            width:39%;
            left:3em;
        }

        .pricing{
            position: absolute;
            width:57%;
            right:3.5em;
            bottom: -6em;
            padding:2.5rem 2rem;
            
            .price{
                padding-top:0;
            }
        }
    }

    .footer-logo{
        margin-top:8.5em;
        opacity:0;
        animation: fadeUp 1.4s ease-in-out forwards;
    }

    section.footer{
        flex-direction: row;
        justify-content: space-between;
        align-items:center;

        p{
            width:50%;
        }

        .social-links{
            margin-top:0;
        }

    
        opacity:0;
        animation: fadeUp 1.4s ease-in-out forwards;
    }
}

// Desktop
@media only screen and (min-width:1250px){
    .blur-img{
        background-image:url("../images/bg-main-desktop.png");
        width:100%;
    }

    .pattern-tablet{
        width:22%;
        right:0;
        top:-3em;
    }

    header{
        .logo{
            padding-top:3em;
            padding-left:8em;
        }
    }

    section.intro{
        padding-left:8em;
        width:69%;

        h1  {
            font-size: 5.5rem;
            line-height:1;
            letter-spacing:-1px;
        }

        p{
            font-size: 1.25rem;
            line-height:2.1;
        }
        padding-bottom:10em;
    }

    section.product{
        width:83%;

        .pattern-mobile{
            width:28%;
            margin-left:-11em;
        }

        .phone{
            width:28%;
            top:-14em;
            left:6em;
        }

        .pricing{
            width:40%;
            right:6em;
            padding:3em 2.5em;
            bottom: -5em;

            h2{
                font-size:2.5rem;
                line-height:1.3;
            }

            p{
                font-size:1.25rem;
            }
        }
    }

    .footer-logo{
        margin:unset;
    }

    footer{
        margin-block:10em;
        padding-inline:6em;
        display:flex;
        justify-content: center;
        gap:8em;

        section.footer{
            padding-block:unset; 
            padding-left:em;     
            
            p{
                width:40%;
            }
        }

        .logo{
            padding-block:unset;
            align-self:flex-start;
        }


    }


}

@keyframes dropDown {
    from{
        transform:translateY(-100%);
    }

    to{
        transform:translateY(0);
        opacity:1;
    }
}

@keyframes fadeIn {
    from {
        opacity:0;
    }
    to{
        opacity:1;
    }
}

@keyframes fadeUp {
    from{
        transform:translateY(100%);
    }

    to{
        transform:translateY(0);
        opacity:1;
    }
}